[req]
distinguished_name=req_distinguished_name
req_extensions=v3_req

[req_distinguished_name]
CN=ec2-107-23-151-16.compute-1.amazonaws.com

[v3_req]
subjectAltName=@alt_names

[alt_names]
DNS.1=ec2-107-23-151-16.compute-1.amazonaws.com
DNS.2=your.custom.domain.com


